<div class="mainDiv">
  <div class="topDiv">
    <h1 class="title">PORTFOLIO</h1>
  </div>
  <div class="contentAreaDiv">
      <section class="socialDiv">
        <p>Hari Narayan Shukla</p> 
        <div class="icon">
          <span><a href="https://github.com/hariactive"><img src="../assets/git.png" alt="github icon"></a></span>
          <span><a href="https://www.linkedin.com/in/shukla7706"><img src="../assets/link.png" alt="linkedIn Icon"></a></span>
          <!-- <span><a href="https://www.facebook.com"><img src="../assets/317752_facebook_social media_social_icon.png" alt="facebook Icon"></a></span> -->
          <span><a href="https://www.youtube.com/channel/UCW9QUSJw3wQsT_Xs7OF9-CQ"><img src="../assets/734361_media_online_social_youtube_icon.png" alt="youtube icon"></a></span>

        </div>
      </section>
      <section class="mainContentDiv">
        <div class="summaryDiv">
          <div style="display: flex; flex-direction: row;">
            <hr>
            <p style="font-size: large;">Summary</p>
            <hr>
           </div>
           <p>
            Strong in design and integration with intuitive
             problem-solving skills. Proficient in AngularJS, Core JAVA,Advance JAVA, 
             MongoDB and SQL. Passionate about implementing and launching
               new projects.
           </p>
        </div>

        <div class="resumeDiv">
          <div style="display: flex; flex-direction: row;">
            <hr>
            <p style="font-size: large;">Resume</p>
            <hr>
           </div>
           <p>Here is my resume <a href="https://drive.google.com/file/d/1r9k0kECkPe3JNreHgruEwCZ2Vg5dgcq-/view?usp=share_link">Click to view Resume</a></p>
        </div>

        <div class="projectDiv">
          <div style="display: flex; flex-direction: row;">
            <hr>
            <p style="font-size: large;">Projects</p>
            <hr>
           </div>
        </div>

        <div class="projectsDiv">
          <mat-card class="project">
            Sentiment Analysis
            <ul>
              <li>Python</li>
              <li>61 Days</li>
              <li>Runs on AWS</li>
            </ul>
            <button mat-raised-button>To Source Code</button>
          </mat-card>
          <mat-card class="project">
            Spring Petclinic
            <ul>
              <li>Springboot</li>
              <li>40 Days</li>
              <li>Runs on localhost</li>
            </ul>
            <button mat-raised-button>To Source Code</button>
          </mat-card>
          <mat-card class="project">
            Employee Database
            <ul>
              <li>Springboot</li>
              <li>40mb/day</li>
              <li>Runs on AWS</li>
            </ul>
            <button mat-raised-button>To Source Code</button>
          </mat-card>
        </div>

      </section>
  </div>
</div>